<% include partials/header %>
    <ul>
        <% libraries.forEach( library => { %>
            <li>
                <a href="/libraries/<%= library.id %>">
                    <%= library.name %>, 
                    <%= library.location %>, 
                    <%= library.rating %> 
                </a>
                <a href="/libraries/<%= library.id %>/edit">
                    Edit Library
                </a>
                <form action="/libraries/<%= library.id %>/delete?_method=DELETE" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        <% }); %>
    </ul>
    
    <a href="/libraries/new">
        Add new library
    </a>
<% include partials/footer %>